body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

input,
select {
  display: block;
  margin: auto;
  text-align: center;
  text-align-last: center;
  width: 25%;
  font-family: 'Open Sans', sans-serif;
}

h1,
h2 {
  font-family: 'Roboto Condensed', sans-serif;
}

h3,
h4,
h5 {
  font-family: 'Roboto Condensed', sans-serif;
}

hr {
  border: dotted #3ec1d3 6px;
  border-bottom: none;
  width: 75%;
  margin: 15px auto;
}

.main-section {
  /* background: linear-gradient(45deg, rgb(255, 255, 255), rgb(241, 241, 214), rgb(253, 255, 147) ) */
  background: url("../background/81744.jpg");
  background-position: right bottom 15%;
  background-size: 2000px;
  background-attachment: fixed;
}

.payment-text {
  line-height: 1rem;
  text-align: center;
}

p {
  text-align: center;
  font-size: 1rem;
}

.container-fluid {
  padding: 7% 10%;
}

.colored-section {
  background-color: #f6f7d7;
}

.orange-section {
  background-color: #f8b739;
}

.white-section {
  background-color: #fff;
}

.container {
  width: 100%;
}

.black-section {
  background-color: black;
}

.book-text {
  padding-top: 2%;
  padding-left: 10%;
  color: black;
}

.gallery-img {
  width: 33%;
}

.flex-container {
  padding: 0 7% 0 7%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.btn-dark {
  background-color: #ED5565;
  color: white;
  display: inline;
  margin-right: 3%;
  border-color: transparent;
  border-radius: 25px;
}

.btn-dark:hover {
  background-color: #DA4453 !important;
  color: white !important;
  border-color: transparent;

}

/* Testimonial Section */
.testimonial-text {
  padding: 1%;
  font-size: 1.5rem;
}

.testimonial-icons {
  width: 10%;
}

.test-indicators {
  padding-top: 15%;
}

/* Location Section */
.h2-location {
  font-size: 3rem;
}

.p-location {
  font-size: 1rem;
  text-align: center;
}



.location-box {
  padding: 3% 5%;

  margin: auto;
}

.card-title {
  text-align: center;
}

/* Features Section  */

#features {
  position: relative;
}



#features .container-fluid {
  padding: 2% 3%;
}


.feature-box {
  padding: 3%;

}

.feature-title {
  padding-top: 7%;
}




.feature-icons {
  width: 160px;
  height: auto;

}



/* Navbar Section */
.navbar-section {
  width: 30%;
  margin-right: 10%;
}

.pv-logo {
  margin-left: 10%;
  width: 80%;
  height: auto;
}

.title-image {
  width: 60%;
  height: 60%;
}

.events-section {
  width: 25%;
}

.event-image {
  width: 60%;
}

/* Contact Section */

.alysa-img {
  margin-bottom: 3%;
  border-radius: 100%;
  width: 45%;
  height: auto;
}

.email-button {
  margin-top: 4%;
}

.contact-heading {
  font-size: 1.2rem;
}

.contact-hr {
  width: 20%;
}

/* Heading Section */
.banner-container {
  padding: 3%;
}

.background-img {
  padding-top: 10%;
  background-image: url(../images/painting-background.jpeg);
  background-size: cover;
  background-position: center center;

}


#title .container-fluid {
  padding-top: 2%;
  padding-bottom: 2%;
}

.header-btn {
  display: inline;
}

.heading-container {
  padding-right: 7%;
  text-align: left;
}

.big-heading {
  font-size: 3rem;
  padding-bottom: 5%;
  text-align: left;
  margin: auto auto;
}

.card {
  width: 18rem;
  margin-left: 15px;
  display: inline-block;
}

.heading-text {
  text-align: left;
  line-height: 1.4rem;
}

.header-button {
  margin-top: 3%;
  margin-right: 5%;
}

.strv-img {
  margin: 0;
  width: 100%;
  height: auto;
  padding-top: 5%;
  padding-bottom: 5%;
}

.form-control {
  border-radius: 5px;
}

.pay-form {
  width: 35%;
}

/* Footer Section */
.social-icon {
  margin: 20px 10px;
}


/* Bootstrap Edits */
.nav-link {
  font-size: 1.2rem;
  font-family: 'Roboto Condensed', sans-serif;

  /* font-weight: ; */
  margin: auto;
}

.btn-group-lg>.btn .btn-lg {
  font-size: 1rem;
  border-radius: 0rem;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: #f8b739;
  background-size: 100%, 100%;
  background-image: none
}

.carousel-indicators .active {
  background-color: black;

}

.carousel-control-next-icon:after {
  content: '>';
  font-size: 55px;
  color: #f8b739;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #f8b739;
}

.carousel-indicators li {
  background-color: #999 !important;
  background-color: #0f0f0f !important;

}

#gallery .container-fluid {
  padding: 10% 3%;
}

/* 
Carousel Pictures */
.gallery-container {
  padding: 0 2% 5% 2%;
}
.image-container {
  padding: 0% 7%;
}

.image-div {
  margin: 1%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 33%;
  height: auto;
  padding: 10%;
}

.carousel1 {
  background-image: url(../images/00.jpg);
}

.carousel2 {
  background-image: url(../images/001.jpg);
}


.carousel3 {
  background-image: url(../images/carousel/30704653_1003323453156350_9018215927459610624_n.jpg);
}


.carousel4 {
  background-image: url(../images/carousel/56558636_1274093142746045_4939798275478781952_o.jpg);
}


.carousel5 {
  background-image: url(../images/carousel/42300479_1133018383520189_4229765449019031552_o.jpg);
}

.carousel6 {
  background-image: url(../images/carousel/34962180_1037084756446886_6655422407815200768_o.jpg);
}

.carousel7 {
  background-image: url(../images/1.jpg);
}

.carousel8 {
  background-image: url(../images/2.jpg);
}

.carousel9 {
  background-image: url(../images/3.jpg);
}

.carousel10 {
  background-image: url(../images/carousel/60949587_1308231659332193_1458682983778091008_o.jpg);
}

.carousel11 {
  background-image: url(../images/carousel/61905479_1315035715318454_4457198681900187648_n.jpg);

}

.carousel12 {
  background-image: url(../images/carousel/38025300_1084954131659948_5703050634408755200_o.jpg);
}

.carousel13 {
  background-image: url(../images/5.jpg);
}

.carousel14 {
  background-image: url(../images/carousel/32482814_1021004041388291_83359194886963200_o.jpg);
}

.carousel15 {
  background-image: url(../images/7.jpg);
}

.carousel16 {
  background-image: url(../images/carousel/30623670_1001228020032560_4547768590006222848_n.jpg);
}

.carousel17 {
  background-image: url(../images/carousel/22554800_907579592730737_8947520369575599845_n.jpg);
}

.carousel18 {
  background-image: url(../images/carousel/12716391_584659955022704_6949508801763547041_o.jpg);
}

.carousel19 {
  background-image: url(../images/carousel/23926480_924256294396400_5633439383364195503_o.jpg);
}

.carousel20 {
  background-image: url(../images/carousel/14612600_697023020453063_5458600274863811129_o.jpg);
}

.carousel21 {
  background-image: url(../images/carousel/28783185_980194512135911_2527003453564276223_n.jpg);
}

.carousel22 {
  background-image: url(../images/carousel/56781224_1274093952745964_7435146382937161728_o.jpg);
}

.carousel23 {
  background-image: url(../images/carousel/61855657_447696696031534_3934800628571701248_n.jpg);
}

.carousel24 {
  background-image: url(../images/33.jpg);
}